[submodule "Megatron-DeepSpeed-X-MoE"]
	path = Megatron-DeepSpeed-X-MoE
	url = https://github.com/Supercomputing-System-AI-Lab/Megatron-DeepSpeed.git
	branch = X-MoE-4D
[submodule "primus_turbo"]
	path = primus_turbo
	url = https://github.com/HenryJlh/Primus-Turbo.git
